body {
    background-color: black;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    padding: 0;
    padding-left: 10px;
    color: #edf0f1;
}

.dropdown.active > .link,
.link:hover {
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 20px;
    top: calc(100% + 0,25rem);
    background-color: #3d4247;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.dropdown-btn {
    padding: 9px 25px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(6, 158, 218);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#chart {
    width: 90%;
    max-width: 600px;
    background-color: bisque;
    color: aquamarine;
}